@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,body {
    overflow-x: hidden;
}

header {
    background-image: url(images/img-fundo.jpg);
    height: 100vh;
    border-bottom: 2px solid rgb(182, 53, 225);
}

.fechaMenu {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.isClose {
    display: none;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

 .img-logo {
    width: 120px;
    margin-right: 190px;
}

header > nav > ul {
    position: fixed;
    top: 0;
    left: 0;
    background-color:  rgb(91, 77, 95);
    width: 80%;
    height: 100%;
    flex-direction: column;
    transform: translateX(-100%);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.3s linear;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

header > nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    margin-bottom: 50px;
}


header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    
}

header > nav > ul > #img-hide  {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
    
}

nav > .btn-nav > img {
    width:50px;
    margin-right: 60px;
    display: block;
    position: fixed;
    top: 30px;
    right: 1px;
    z-index: 3;
}

.menu-icon {
    cursor: pointer;
    font-size: 2.5rem;
    display: block;
}

.hide {
    display: block;
    transition: 1s all;
    transform: translateX(0);
}

header > .content-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    
}

header > .content-header > h1 {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 4.6rem;
    font-weight: 100;
    line-height: 1px;
    color: gray;
}

header > .content-header > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5.6rem;
    font-weight: 300;
    letter-spacing: 6px;
}

header > .content-header > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: rgb(184, 184, 184);
    margin-top: 50%;
    letter-spacing: 6px;
    text-align: center;
}

main > #section-hair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/img-bg-section2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

main > #section-hair > .text-side > h3 {
    font-size: 3.0rem;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Prata', serif;
    font-weight: 500;
    margin: 40px 0;
    color: rgb(75, 75, 75);
}

main > #section-hair > .text-side > p {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 40px 0;
    padding-bottom: 40px;
    color: rgb(48, 48, 48);
}

main > #section-contact {
    background-image: url(images/img-bg-section3.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

main > #section-contact > h3 {
    text-align: center;
    font-size: 3.1rem;
    font-family: 'Prata', serif;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 50px;
    color: rgb(60, 60, 60);
}

/*main > #section-contact > p {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 40px 0;
    margin-bottom: 70px;
    color: rgb(76, 76, 76);
}
*/

main > #section-contact > #forms > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}

main > #section-contact > #forms > form > input, textarea {
    padding: 20px;
    width: 70%;
    border-radius: 0%;
    border: 1px solid rgb(204, 140, 204);
}

main > #section-contact > #forms > form > #btn-enviar {
    background-color: rgb(185, 150, 195);
    color: white;
    font-size: 1.8rem;
}

input::placeholder, textarea::placeholder {
    font-size: 1.6rem;
} 

main > #section-news {
    background-color:rgb(77, 63, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > #section-news > h3 {
    text-align: center;
    font-size: 2.6rem;
    font-family: 'Prata', serif;
    font-weight: 500;
    padding: 40px 0;
    color: rgb(201, 200, 200);
    width: 300px;
}

main > #section-news > #forms-news > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
}

main > #section-news > #forms-news > form > input {
    padding: 20px 70px;
    border: 1px solid rgb(188, 155, 188);
    margin-bottom: 20px;
    width: 100%;
}

input::placeholder {
    font-size: 1.6rem;
}

main > #section-news > #forms-news > form > #btn-news {
    background-color:  rgb(222, 219, 219);
    font-size: 1.6rem;
    color: rgb(8, 8, 8);
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

main >.owl-carousel .owl-nav  button.owl-next, 
.owl-carousel ,.owl-nav > button.owl-prev {
    color: rgb(251, 251, 251);
    font-size: 55px;
}

.owl-nav button.owl-prev {
    position: absolute;
    left: 1px;
    top:30%;
}
.owl-nav button.owl-next {
    position: absolute;
    right: 1px;
    top:30%;
}

footer {
    background-color: rgb(77, 63, 88);
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

footer > #text-footer {
    font-size: 1.5rem;
    text-align: justify;
    color: rgb(174, 171, 171);
    margin: 40px 0;
}

footer > #text-footer > img {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

#btn-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fa-brands  {
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(252, 252, 252);
    padding: 7px 10px;
    border-radius: 8px;
}

#p-footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid gray;
    width: 100vw;
    font-size: 1.1rem;
}

span2 {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.fa-arrow-up {
    font-size: 15px;
    background-color: rgb(230, 231, 232);
    padding: 8px 10px;
    border-radius: 100%;
    color: rgb(97, 53, 114);
    position: fixed;
    bottom: 30px;
    right: 20px;
    visibility: hidden;
}

.fa-arrow-up.visible {
    visibility: visible;
}
